#calc {
  background-color: black;
  color: white;
  max-width: 320px;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-right: 2px;
}

#screen {
  background-color: #041e56;
  padding-top: 15px;
  padding-bottom: 0;
  max-width: 318px;
}

button {
  font-size: 40px;
  background: #031130;
  color: #07009b;
  border: none;
  height: 79px;
  width: 79px;
}

.button-small {
  font-size: 30px;
}

button:hover {
  background: #32a3db;
}

button:focus {
  outline: none;
}
